$black: #000000;
$white: #FFFFFF;
$gray: #bbbbbb;
$green: #212c39;
$yellow: #FFD700;

#header {
    display: flex;
    padding: 1.5em 2em;
    padding-bottom: 0;

    #searchBox {
        margin: auto;
        margin-left: 0;

        input {
            background: rgb(21, 28, 36);
            border: 2px solid $black;
            border-radius: 1.5em;
            color: white;
            font-family: inherit;
            height: 2em;
            margin-left: 1em;
            margin-top: 0.5em;
            outline: none;
            padding: 0.25em 0.75em;
            transition: all 0.4s ease-in-out 0s;
            width: 20em;
        }
    }

    nav {
        margin-right: 0;
        a:after {
            background-color: $white;
            bottom: -4px;
            content: "";
            height: 1px;
            left: 0;
            margin-left:auto;
            margin-right:auto;
            position: absolute;
            right:0;
            transition: all .3s ease-in-out 0s;
            transform: scaleX(0);
            visibility: hidden;
            width: 100%; 
            -webkit-transform: scaleX(0);
        }
        a {
            color: $white;
            cursor: pointer;
            display: initial;
            position: relative;
            text-decoration: none;
            transition: all .5s ease;
            transition: all 320ms cubic-bezier(.645,.05,.355,1);
        }
        a:hover:after {
            visibility: visible;
            text-decoration: none;
            transform: scaleX(1);
            -webkit-transform: scaleX(1);
        }
        a:hover{
            text-decoration: none;
        }
    }
}