$black: #000000;
$white: #FFFFFF;
$gray: #bbbbbb;
$green: #212c39;
$yellow: #FFD700;

#movie-detail {
    color: white;
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    // padding: 30px;

    div.details {
        background-color: $black;
        display: flex;
        flex-direction: column;
        padding: 30px 40px;
        position: relative;
        width: 30%;

        &::before {
            content: "";
            position: absolute;
            background-image: linear-gradient(to right, rgb(0, 0, 0), transparent);
            top: 0px;
            bottom: 0px;
            left: 100%;
            width: 275px;
        }

        .div-top {
            h6 {
                margin: 0;
                img {
                    height: 25px;
                    width: 25px;
                }
            }
            .star {
                color: $yellow;
            }
        }

        .div-medium {
            h4 {
                margin: 1rem 0;
            }
            p {
                text-align: justify;
                width: 85%;
            }
            h5 > span {
                font-size: 0.8rem;
            }
        }

        .div-bottom {
            margin-bottom: 0;
            margin-top: auto;

            nav {
                text-align: center;
            }
        }
    }
    div.picture {
        width: 70%;
    }    
}